.mainBk {
  display: flex;
  width: 100%;
  height: auto;
  position: fixed;
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 999;
  top: 0;
  border-bottom: 0.8rem solid #eb3b7c;
  background-color: #ffffff;
}

.imgBanner {
  display: block;
  width: 750px;
  height: auto;
  margin-bottom: -7px;
  margin: auto;
}

.imgBanner img {
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;

  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .mainBk {
    display: flex;
    width: 100%;
    height: auto;
    position: fixed;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 999;
    top: 0;
    border-bottom: 0.8rem solid #eb3b7c;
    background-color: #ffffff;
  }

  .imgBanner {
    display: block;
    width: 350px;
    height: auto;
    margin-bottom: 0px;
    margin: auto;
  }

  .imgBanner img {
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
    text-align: center;
  }
}
