@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

.indexText {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 25vh;
  padding: 0 2rem;
}

.topHead {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 13rem;
}

.boxMain {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.6rem 2rem 1rem 2rem;
  border: 1pt solid #e0dfdf;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.titleText {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.awText {
  display: block;
  padding-left: 1rem;
  line-height: 30px;
}

.imgBox {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: -3rem;
}

.imgBox img {
  width: 100%;
  height: auto;
}

.sumq {
  display: block;
  width: 100%;
  height: auto;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.sumShowText {
  display: block;
  width: 50%;
  height: auto;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: auto;
}
.showimg {
  display: block;
  width: 80px;
  height: auto;
  margin: auto;
}

.showimg img {
  width: 100%;
  height: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cadetblue;
  color: rgb(4, 4, 4);
  text-align: center;
  margin-top: 10rem;
  padding: 2rem 0;
}

.footterText {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}

.footer1 {
  display: block;
  width: 100%;
  background-color: cadetblue;
  color: rgb(4, 4, 4);
  text-align: center;
  margin-top: 10rem;
  padding: 2rem 0;
}

.footterText {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 1023px) {
  .headText h4 {
    font-size: 20px;
    line-height: 28px;
  }

  .indexText {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 25vh;
    padding: 0 2rem;
  }

  .topHead {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 8rem;
  }

  .boxMain {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.6rem 2rem 1rem 2rem;
    border: 1pt solid #e0dfdf;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  .titleText {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .awText {
    display: block;
    padding-left: 1rem;
    line-height: 30px;
  }

  .imgBox {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -3rem;
  }

  .imgBox img {
    width: 100%;
    height: auto;
  }
}
